# Python virtual environment ignores
**/.venv

# ssh key ignores
**/.ssh
**/.ssh/*.pem

# Global Terraform ignores
**/.terraform/
**/.terraform.lock.hcl
**/*.tfstate
**/*.tfstate.*
**/.terraformrc
**/terraform.rc
**/crash.log

